project/spi/client/files/message_bac.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!ELEMENT message ((hello | goodbye | accept | ok | fail | ping | shutdown
                   | disconnect | image_request 
                   | request_page | request_page_by_bates | pageissue
                   | request_coding | binder_update
                   | create_coding_batches | batch_boundary | batch_queue
                   | image_data | coding_data
                   | page_values | page_boundary | page_split | request_coding_values
                   | request_batch | batch_data | validate_batch | close_batch | close_event
                   | teamsvolume | delete_volume
                   | comments | update_values | unitprice | customerprice
                   | mailsent_data | delete_mailsent | mailreceived_data | request_mail | mail_data
                   | request_recipient_list | recipient_list
                   | request_projectfields | projectfields_data | delete_project
                   | request_table_values | tablevalue | tablespec | request_tablevalue_sweep
                   | request_directory | directory | filename
                   | request_file | file_delta
                   | users_data | teams_data
                   | request_project_list  | open_qa_volume | close_qa | sample_qa
                   | open_batch | batch_opened | request_requeue
                   | sql_query | sql_update | result_set | update_count | validation | update | error_message | status | user_input
                   | daily_total_report | timesheet_report
                   | delimiter_data | export_data | import_data | populate_data | error
                   | open_managed_model | terminate_session ), 
                   (update_managed_model | disconnect)* ) >

<!ELEMENT hello (#PCDATA) >
  <!-- element content is the password -->
  <!-- attributes are IMPLIED because old alpha versions may have been different -->
  <!-- session_key is for restart after download, in which case there is no password -->
<!ATTLIST hello
  fossaSession_id       CDATA           #IMPLIED
  name                  CDATA           #IMPLIED
  version               CDATA           #IMPLIED
  session_key           CDATA           #IMPLIED
  new_password          CDATA           #IMPLIED
  admin                 (NO | YES)      "NO">

<!ELEMENT goodbye EMPTY >
<!ATTLIST goodbye
  restart               (NO | YES)      "NO">

<!ELEMENT accept  EMPTY>
<!ATTLIST accept
  fossaSession_id       CDATA           #IMPLIED
  min_version           CDATA           #REQUIRED
  max_version           CDATA           #REQUIRED
  session_key           CDATA           #REQUIRED
  time_zone             CDATA           #REQUIRED
  ok_unitize            (NO | YES)      "NO"
  ok_uqc                (NO | YES)      "NO"
  ok_coding             (NO | YES)      "NO"
  ok_codingqc           (NO | YES)      "NO"
  ok_qa                 (NO | YES)      "NO" 
  ok_team_leader        (NO | YES)      "NO" 
  ok_admin              (NO | YES)      "NO" 
  ok_admin_users        (NO | YES)      "NO" 
  ok_admin_project      (NO | YES)      "NO" 
  ok_admin_batch        (NO | YES)      "NO" 
  ok_admin_edit         (NO | YES)      "NO" 
  ok_admin_import       (NO | YES)      "NO" 
  ok_admin_export       (NO | YES)      "NO"
  ok_admin_profit       (NO | YES)      "NO" >
                              
<!ELEMENT terminate_session  EMPTY >
<!ATTLIST terminate_session
  fossaSession_id       CDATA           #IMPLIED
  id                    CDATA           #REQUIRED>

<!ELEMENT ok      EMPTY >
<!ATTLIST ok
  page_id                    CDATA           #IMPLIED>
  

<!ELEMENT ping    EMPTY >

<!ELEMENT shutdown EMPTY >

<!ELEMENT fail (#PCDATA) >
  <!-- element content is the error message from the server -->
  <!-- it's an SQL error message if sqlstate is given -->
<!ATTLIST fail
  sqlstate                   CDATA           #IMPLIED
  sqlcode                    CDATA           #IMPLIED>
  
<!ELEMENT disconnect (#PCDATA) >
  <!-- element content is the error message from the server -->
     
<!ELEMENT image_request   EMPTY >
  <!-- request to image server for an image -->
  <!-- TBD We need to change attribute names!!! -->
<!ATTLIST image_request
  image_path                 CDATA           #REQUIRED
  offset                     CDATA           #IMPLIED
  resolution                 CDATA           #IMPLIED>
   
<!ELEMENT request_page   EMPTY >
  <!-- request to server for image data-->
<!ATTLIST request_page
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  page_id                    CDATA           #REQUIRED
  delta                      CDATA           #REQUIRED
  boundary                   CDATA           #REQUIRED
  status                     CDATA           #IMPLIED
  find_last                  (NO | YES)      "NO" >
   
<!ELEMENT pageissue    EMPTY >
<!ATTLIST pageissue
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  page_id                    CDATA           #IMPLIED
  sequence                   CDATA           #IMPLIED
  delta                      CDATA           #IMPLIED
  issue                      CDATA           #IMPLIED>
  
<!ELEMENT request_page_by_bates   EMPTY >
  <!-- request to server for image data-->
<!ATTLIST request_page_by_bates
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  bates_number               CDATA           #REQUIRED
  status                     CDATA           #IMPLIED>
  
<!ELEMENT request_coding     EMPTY >
  <!-- request to server for coding data-->
<!ATTLIST request_coding
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  page_id                    CDATA           #REQUIRED
  delta                      CDATA           #REQUIRED
  boundary                   CDATA           #REQUIRED
  status                     CDATA           #IMPLIED
  selected_only              (NO | YES)      "NO" >
       
<!ELEMENT image_data    (value*) >

<!ELEMENT coding_data   (value*, value_list?, error_flag_list?) >

<!ELEMENT value_list    (value | longvalue | namevalue)* >

<!ELEMENT error_flag_list    (value)* >

<!ELEMENT value              (#PCDATA) >
<!ATTLIST value
  name                       CDATA           #REQUIRED>

<!ELEMENT longvalue          (#PCDATA) >
<!ATTLIST longvalue
  name                       CDATA           #REQUIRED>

<!ELEMENT namevalue          (#PCDATA) >
<!ATTLIST namevalue
  name                       CDATA           #REQUIRED>

<!ELEMENT page_values (value_list?, error_flag_list?)>
  <!-- request to server to save coding data (valueMap) uses page_id -->
  <!-- coding data (valueMap) from server for prior child; does not use attributes -->
<!ATTLIST page_values  
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  page_id                    CDATA           #IMPLIED
  boundary_flag              CDATA           #IMPLIED>
  
<!ELEMENT page_boundary      EMPTY >
  <!-- request to server to change boundary, does not count as a save -->
<!ATTLIST page_boundary  
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  page_id                    CDATA           #IMPLIED
  boundary_flag              CDATA           #IMPLIED>

<!ELEMENT page_split      EMPTY >
<!ATTLIST page_split  
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  page_id                    CDATA           #IMPLIED
  clone                      (NO | YES)      "NO"
  unsplit                    (NO | YES)      "NO" >

<!ELEMENT request_coding_values EMPTY >
  <!-- request to server for page values-->
<!ATTLIST request_coding_values
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  page_id                    CDATA           #REQUIRED
  delta                      CDATA           #REQUIRED
  boundary                   CDATA           #REQUIRED>

<!ELEMENT validate_batch EMPTY >
    <!-- request to server to perform crossFieldEdits on batch -->
<!ATTLIST validate_batch
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
  is_unitize                 CDATA           #REQUIRED
  group                      CDATA           #REQUIRED>

<!ELEMENT close_batch  EMPTY >
    <!-- request to server to update batch status on close -->
<!ATTLIST close_batch
    volume_id                 CDATA           #IMPLIED
    batch_id                  CDATA           #IMPLIED
    status                    CDATA           #REQUIRED
    reject                    (NO | YES)      "NO">

<!ELEMENT create_coding_batches EMPTY >
    <!-- request to server to create coding batches from unitize -->
<!ATTLIST create_coding_batches
    batch_id                  CDATA           #REQUIRED
    count                     CDATA           #REQUIRED>

<!ELEMENT batch_boundary EMPTY >
    <!-- request to server create or remove a batch boundary -->
<!ATTLIST batch_boundary
    batch_id                  CDATA           #IMPLIED
    id                        CDATA           #IMPLIED
    delta                     CDATA           #IMPLIED>

<!ELEMENT batch_queue EMPTY >
    <!-- request to server create or remove a queue entry -->
    <!-- one of users_id, teams_id should be zero -->
    <!-- batch_id = 0 => add volume to team -->
    <!-- else add batch to user or team -->
    <!-- delete = "true" ==> remove from all queues first -->
<!ATTLIST batch_queue
    batch_id                  CDATA           #REQUIRED
    volume_id                 CDATA           #REQUIRED
    users_id                  CDATA           #REQUIRED
    teams_id                  CDATA           #REQUIRED
    delete                    CDATA           #IMPLIED>

<!ELEMENT teams_data   (value*, (value_list)?) >
<!ATTLIST teams_data
    id                        CDATA           #IMPLIED
    users_id                  CDATA           #IMPLIED
    team_name                 CDATA           #IMPLIED>

<!ELEMENT teamsvolume EMPTY>
<!ATTLIST teamsvolume
    volume_id                  CDATA           #REQUIRED
    teams_id                   CDATA           #IMPLIED>

<!ELEMENT close_event EMPTY>

<!ELEMENT comments (#PCDATA) >

<!ELEMENT delete_mailsent   (value*, (value_list)?) >
<!ELEMENT mailreceived_data   (value*, (value_list)?) >
<!ELEMENT mailsent_data   (value*, (value_list)?) >
<!ELEMENT mail_data   (value*, (value_list)?) >
<!ELEMENT request_recipient_list EMPTY>
<!ELEMENT request_mail EMPTY>
<!ATTLIST request_mail
    id                         CDATA           #REQUIRED
    type                       CDATA           #REQUIRED>

<!ELEMENT request_projectfields EMPTY >
    <!-- request to server for description of project -->
<!ATTLIST request_projectfields
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED>

<!ELEMENT projectfields_data   (value*, (value_list)?) >
<!ATTLIST projectfields_data
    project_id                CDATA           #IMPLIED>

<!ELEMENT delete_volume       EMPTY >
<!ATTLIST delete_volume 
    volume_id                 CDATA           #IMPLIED>

<!ELEMENT delete_project      EMPTY >
<!ATTLIST delete_project 
    project_id                CDATA           #IMPLIED>

<!ELEMENT request_table_values EMPTY >
    <!-- request to server for names and values of tables -->
<!ATTLIST request_table_values
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED >

<!ELEMENT tablespec   (value*) >

<!ELEMENT tablevalue  (value*) >

<!ELEMENT data              (#PCDATA) >

<!ELEMENT old_data          (#PCDATA) >

<!ELEMENT update_values   (data?, old_data?) >
<!ATTLIST update_values
    id                      CDATA             #REQUIRED
    tablespec_id            CDATA             #REQUIRED
    type                    CDATA             #REQUIRED>

<!ELEMENT unitprice   (value*) >
<!ELEMENT customerprice   (value*) >

<!ELEMENT request_directory  EMPTY >
    
<!ELEMENT directory      (filename*) >
    
<!ELEMENT filename       EMPTY >
<!ATTLIST filename
    name                    CDATA           #REQUIRED
    time                    CDATA           #REQUIRED
    length                  CDATA           #REQUIRED>
    
<!ELEMENT request_file   EMPTY >
<!ATTLIST request_file
    name                    CDATA           #REQUIRED
    count                   CDATA           #REQUIRED>

<!ELEMENT file_delta      EMPTY >
<!ATTLIST file_delta
    name                    CDATA           #REQUIRED
    time                    CDATA           #REQUIRED
    length                  CDATA           #REQUIRED>
    
<!ELEMENT sql_query      (parameter*) >
<!ATTLIST sql_query
  fossaSession_id            CDATA           #IMPLIED
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
    name                    CDATA           #REQUIRED
    request_metadata        (YES)           #IMPLIED >
    
<!ELEMENT daily_total_report (parameter*) >
<!ATTLIST daily_total_report
  by_project                (YES)           #IMPLIED
  by_team                   (YES)           #IMPLIED >
    
<!ELEMENT profit_detail_report (parameter*) >

<!ELEMENT timesheet_report (parameter*) >
<!ATTLIST timesheet_report
  time_zone                   CDATA           #REQUIRED >
    
<!ELEMENT open_managed_model EMPTY >
<!ATTLIST open_managed_model
    name                    CDATA           #REQUIRED >
    
<!ELEMENT sql_update     (parameter*) >
<!ATTLIST sql_update
  volume_id                  CDATA           #IMPLIED
  batch_id                   CDATA           #IMPLIED
    name                    CDATA           #REQUIRED >
    
<!ELEMENT parameter      (#PCDATA) >

<!ELEMENT result_set     ( heading?, row* ) >
<!ATTLIST result_set
    fossaSession_id         CDATA           #IMPLIED
    count                   CDATA           #REQUIRED>
    
<!ELEMENT update_managed_model ( row* ) >
<!ATTLIST update_managed_model
    name                    CDATA           #REQUIRED >
    
<!ELEMENT update_count   EMPTY >
<!ATTLIST update_count
    count                   CDATA           #REQUIRED>
    
<!ELEMENT validation    EMPTY >
<!ATTLIST validation
  volume_id                  CDATA           #REQUIRED  
  user_input                 CDATA           #REQUIRED>
  
<!ELEMENT update    ( error_message*, status*,user_input* ) >
<!ATTLIST update
 project_id                  CDATA           #REQUIRED  
 field_id                    CDATA           #REQUIRED>
 
<!ELEMENT error_message        ( column+ ) >
 
<!ELEMENT status        ( column+ ) >
 
 <!ELEMENT user_input        ( column+ ) >
  
  
<!ELEMENT heading        ( column+ ) >

<!ELEMENT row            ( column+ ) >
<!ATTLIST row
    delete                   (YES)          #IMPLIED >            

<!ELEMENT column         (#PCDATA) >
<!ATTLIST column
    is_null                 (NO | YES)      "NO" >            

<!ELEMENT update_result  EMPTY >
<!ATTLIST update_result
    count                   CDATA           #REQUIRED>
    
<!ELEMENT users_data   (value*) >

<!ELEMENT request_project_list  EMPTY >
<!ATTLIST request_project_list
    status                  CDATA           #REQUIRED >

<!ELEMENT open_batch    EMPTY >
<!ATTLIST open_batch
    batch_id                CDATA           #IMPLIED                  
    project_id              CDATA           #IMPLIED
    status                  CDATA           #REQUIRED >                 

<!ELEMENT open_qa_volume EMPTY >
<!ATTLIST open_qa_volume
    volume_id               CDATA           #REQUIRED >                 

<!ELEMENT close_qa (#PCDATA) >
<!ATTLIST close_qa
    teams_id                CDATA           #IMPLIED
    users_id                CDATA           #IMPLIED
    reject                  (NO | YES)      "NO" >

<!ELEMENT sample_qa EMPTY >
<!ATTLIST sample_qa
    percent                 CDATA           #REQUIRED
    new_sample              (NO | YES)      "NO"
    teams_id                CDATA           #IMPLIED
    users_id                CDATA           #IMPLIED >                 

<!ELEMENT batch_opened  EMPTY >
    <!-- info about batch to be opened -->
<!ATTLIST batch_opened
    batch_id                CDATA           #REQUIRED                  
    project_name            CDATA           #REQUIRED
    project_id              CDATA           #IMPLIED
    group                   CDATA           #IMPLIED
    split_documents         (No | Yes)      "No" >  
      
<!ELEMENT request_requeue  EMPTY >
<!ATTLIST request_requeue
    batch_id                 CDATA           #REQUIRED
    hours                    CDATA           #REQUIRED>
    
<!ELEMENT binder_update  EMPTY >
<!ATTLIST binder_update
    volume_id                CDATA           #IMPLIED
    batch_id                 CDATA           #IMPLIED
    page_id                  CDATA           #REQUIRED                  
    remove                   (NO | YES)      "NO">
    
<!ELEMENT delimiter_data   (value*) >
    
<!ELEMENT export_data   (value*) >

<!ELEMENT import_data        EMPTY >
<!ATTLIST import_data
    project_name             CDATA           #REQUIRED
    volume_name              CDATA           #REQUIRED
    batch_span               CDATA           #REQUIRED
    filename                 CDATA           #REQUIRED
    pathname                 CDATA           #REQUIRED
    format                   CDATA           #REQUIRED
    overwrite                CDATA           #REQUIRED
    split_documents          CDATA           #REQUIRED>

<!ELEMENT populate_data   (value*) >

<!ELEMENT request_tablevalue_sweep   EMPTY >
<!ATTLIST request_tablevalue_sweep
    name                     CDATA           #REQUIRED
    id                       CDATA           #REQUIRED>

<!ELEMENT error              EMPTY >
<!ATTLIST error
    data                    CDATA           #REQUIRED>

