project/spi/client/files/testmessage.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!ELEMENT message (first)+>

<!ELEMENT first (second | third | fourth | fifth | sixth )+>

<!ELEMENT second  EMPTY >
<!ATTLIST second
  aaa             CDATA           #REQUIRED
  bbb             CDATA           #REQUIRED
>
<!ELEMENT third   EMPTY >

<!ELEMENT fourth  (#PCDATA) >

<!ELEMENT fifth   (#PCDATA) >

<!ELEMENT sixth   (#PCDATA) >
<!ATTLIST sixth
  ccc             CDATA           #REQUIRED
>